
<div id="container">
    <%= link_to "質問内容を修正", edit_question_path(@question.id), class: 'btn btn-warning btn-block' %>
    <h3>【質問】</h3>
    <p><%= @question.title %></p>
    <hr>
    <h3>【詳細】</h3>
    <p><%= markdown(@question.detail).html_safe %></p>
    
    <% if @question.solutions.exists?%>
        <hr>
        <h3>【回答】</h3>
        <% @question.solutions.each do |solution| %>
            <%= markdown(solution.answer).html_safe %><br>
        <% end %>
    <% end%>

    <h1>回答投稿</h1>
    <%= form_with(model: [@question, @solution], local: true) do |form| %>
        <div class="form-group">
            <%= form.label :answer, "【回答】" %>
            <%= form.text_area :answer, class: "form-control", rows: "3" %>
        </div>
        <%= form.submit "送信", data: { confirm: "投稿しますか？" }, class: "btn btn-primary btn-block" %>
    <% end %>
</div>
