<div class="lesson-container">
  <div class="lesson-header">
    <h3>テキスト教材</h3>
    <%= search_form_for @q do |form| %>
      <div class="input-group justify-content-center">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <%= form.search_field :title_cont, id: "search_box", class: "form-control col-3", placeholder: "教材を探す" %>
        <span class="input-group-btn">
          <%= form.submit "検索", id: "search_trigger", style: "display: none;" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="lesson-row">
    <% @texts.each do |text| %>
      <div class="lesson-card col-4">
        <a href="<%= text_path(text) %>" class="card-body rounded">
          <div class="thumbnail-enlarge">
            <%= image_tag "image.png", class: "card-img-top" %>
          </div>
          <div class="content-wrapper">
            <div class="btn btn-primary btn-block">読破済みにする</div>
            <h3 class="card-title"><%= text.title %></h5>
            <p class="card-text">【<%= text.genre %>】</p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>