<!DOCTYPE html>

<html>
  <head>
    <title>GyakutenCloneGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- レスポンシブ対応用に以下1行追加 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <%= render 'movies/navbar' %>
      <%= render "layouts/flash" %>
    </header>
    <main>
      <div class= "<%= base_container %>" >
        <%= yield %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>